#header {
	text-align: center;
	color: black;
	font-family: "Helvetica Neue";
	font-weight: 300;
	font-size: 25pt;
	margin: 0px;
	padding: 1em;
	background-color: black;
	color: white;
}

#button-holder {
	text-align:center;
	margin: 3em;
}

#piano { 
	margin-top: 2em;
}

#content-inner {
	padding: 0px;
}

#footer {
	float: right;
	font-family: "Helvetica Neue", "Helvetica";
	color: black;
}

#footer a {
	color: black;
	font-weight: bold;
}

#footer a:hover {
	font-style: italic;
}

#information .header {
	display: block;
	font-weight: bold;
}

#information {
	margin: auto;
	text-align: center;
}

#information span {
	color: black;
	font-family: "Helvetica", "Helvetica Neue";
}
